<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <body>
    <p>Dear {{employee_name}},</p>
    <br />
    <p>
      Congratulations on successfully registering with Infertalents ! We're
      excited to have you on board and look forward to providing you with the
      best experience possible. As a next step, please use the following
      temporary password and link to log in to your account:
    </p>
    <p>Temporary Password: {{password}}</p>
    <p>
      Login Link:
      <a href="{{link}}" style="text-decoration: underline; color: blue"
        >{{link}}</a
      >
    </p>
    <br />
    <p>
      Please note that you will be required to change your temporary password
      upon your first login for security reasons.
    </p>
    <p>
      If you have any questions or concerns, please do not hesitate to contact
      us. We're here to help and support you every step of the way.
    </p>
    <p>
      Thank you for choosing our service. We're thrilled to have you as a
      customer and look forward to helping you achieve your goals.
    </p>
    <p>Best regards,</p>
    <br />
    <p>The {{company}} team</p>
  </body>
</html>
