<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <body>
    <p>Dear {{employee_name}},</p>
    <br />
    <p>
      Congratulations on getting hired with us! We're
      excited to have you on board and look forward to providing you with the
      best experience possible. As a next step, please use your previous password to login.
    </p>
    <p>
      Login Link:
      <a href="{{link}}" style="text-decoration: underline; color: blue"
        >{{link}}</a
      >
    </p>
    <br />
    <p>
      If you have any questions or concerns, please do not hesitate to contact
      us. We're here to help and support you every step of the way.
    </p>
    <p>
      Thank you for choosing our service. We're thrilled to have you as a
      part of our organization and look forward to helping you achieve your goals.
    </p>
    <p>Best regards,</p>
    <br />
    <p>The {{company}} team</p>
  </body>
</html>
