<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <style type="text/css">
    .br {
      display: block;
      margin-bottom: 0em;
    }
    .br_1 {
      display: block;
      margin-bottom: -0.6em;
    }

    /* .brmedium {
            display: block;
            margin-bottom: 1em;
        }

        .brlarge {
            display: block;
            margin-bottom: 2em;
        } */
  </style>
  <body>
    {% comment %}
    <h4>{{body_msg}}</h4>
    <span class="br"></span> {% endcomment %}
    <h4>HR team will reach you shortly..!</h4>
    <span class="br"></span>
    <h3>
      <p>
        Thanks<br />
        Infertalents Team
      </p>
    </h3>
  </body>
</html>
