<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
    <p>Dear {{hiring_manage_name}},</p>
    <br />
    <p>
      Please Accept/Reject Offer Approval.
    </p>
   <div class="w3-section">
        <button class="w3-button w3-green"><a href="{{accept_link}}">Accept</a></button>
        <button class="w3-button w3-red"><a href="{{decline_link}}">Decline</a></button>
      </div>
    <br />
    <p>
      If you have any questions or concerns, please do not hesitate to contact
      us. We're here to help and support you every step of the way.
    </p>
    <p>
      Thank you for choosing our service. We're thrilled to have you as a
      part of our organization and look forward to helping you achieve your goals.
    </p>
    <p>Best regards,</p>
    <br />
    <p>The {{company}} team</p>
  </body>
</html>
