<p>Dear {{Candidate_Name}},</p>
<p>
  I am excited to inform you that you have been selected for the
  {{Position_Name}} role at {{Company_Name}}. Your application was impressive
  and stood out from the rest of the applicants, and we believe that you are an
  excellent fit for the role.
</p>
<p>
  We are pleased to offer you the position, and your offer letter is attached to
  your dashboard. Please
  <a
    href="{{CompanyLogin_Link}}/login"
    style="color: blue; text-decoration: underline"
    >log in</a
  >
  to complete your digital signature for the offer letter. If you do not have a
  login please use the link here below to create the password and view the
  offer. If you have any questions or concerns, please do not hesitate to reach
  out to us.
</p>
<p>
  We require a response within 3 days of receiving this email. If you are
  accepting the offer, please
  <a
    href="{{CompanyLogin_Link}}/login"
    style="color: blue; text-decoration: underline"
    >sign</a
  >
  and return the letter to us. If you are not able to accept the offer, please
  let us know as soon as possible, so we can move forward with other candidates.
</p>
<p>
  We look forward to welcoming you to the team and having you start on
  {{start_date}}. Congratulations once again on your offer letter, and we are
  excited to have you join us.
</p>
<p>Best regards,</p>
<p>Talent Acquisition Team</p>
<p>{{Company_Name}}</p>
