<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <body>
    <p>Dear candidate,</p>
    <br />
    <p>
      I hope this email finds you well. We would like to let you know that the position {{position}} that you have applied is now closed.
    </p>
    <p>
      I want to personally thank you for taking the time to apply for the position. We appreciate the effort you put into your application and the interest you showed in our company. We encourage you to keep an eye on our career opportunities in the future. We will post new positions on our website and social media channels, and we would be happy to consider your application for any future openings that match your qualifications.
    </p>
    <p>
      Thank you again for considering our company as a potential employer. We wish you all the best in your future endeavors.
    </p>
    <p>Sincerely</p>
    <br />
    <p>{{name}}</p>
    <p>The {{company}} Team</p>
  </body>
</html>

