<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  <body>
    <p>Hello {{first_name}},</p>
    <p>Thank you for requesting the demo.</p>
    <p>
      We’d like to confirm that your account has been created successfully.
      Please login to you this link
      <a href="{{link}}" style="color: blue; text-decoration: underline"
        >{{link}}</a
      >
      and set following things to kick start your journey.
    </p>
    <p>You can follow these steps for respective module:</p>
    <h4>User Roles:</h4>
    <p>
      To go hyour dashboard and then to Roles. There you will find some pre
      created Roles you can add yours too. Make sure you add roles so that you
      can use them further while creating Positions.
    </p>
    <h4>Employee:</h4>
    <p>
      You can add the employees of your company with different user roles and
      responsibilities. You at least need to add two roles one for Hiring
      Manager and one for Recruiter to create a position. There is import bulk
      feature for the employee(YOU NEED TO DOWNLOAD THE SAMPLE DOCUMENT and add
      the employee in CSV accordingly). To add employee visit to the
      <b>Employee</b> tab in dashboard.
    </p>
    <h4>Position/Offer Form:</h4>
    <p>
      You can add different form fields for you open position and offer letter.
      Please click on the <b>Position Form</b> and <b>Offer Form</b> tab to
      create the fields.
    </p>
    <h4>Feedback:</h4>
    <p>
      You can add multiple Atrributes and Competencies from the
      <b>Feedback</b> tab. These attributes and competencies are used to assess
      a candidate for better evaluation. There are some pre created attributes
      andd competencies that you can use. You can also add yours from the
      <b>Feedback</b> tab.
    </p>
    <h4>Offer Template:</h4>
    <p>
      Offer Templates are essential. You need to add Offer Templates these
      templates are used when to send a documented offer to the candidate for
      further processing. You can add offer templates from the
      <b>Offer Template</b> tab.
    </p>
    <h4>Job Category:</h4>
    <p>
      When ever you add a position you need to specify the type of the job
      category so that candidate can easily search and recognize the job. For
      that you need to add Job Categories, to add on head to the
      <b>Job Category</b> tab
    </p>
    <h4>Job Location:</h4>
    <p>
      You also need to add job location to be able to create a position. Visit
      the Job Location tab andd add all the countries and their cities in which
      you want to post your jobs.
    </p>
    <h4>Department:</h4>
    <p>
      Go to <b>Department</b> tab and add departments which will be used while
      creating the open positions.
    </p>
    <h4>Terms and Conditions/Privacy Policy:</h4>
    <p>
      Please add your terms and conditions along with Privacy Policy from the
      settings page. These details are used to ensure candidate that their data
      is in right hand and is being used wisely.
    </p>
    <p>
      If you experience any issues or have any other query feel free to, reach
      us at {{support_email}}.
    </p>
    <br />
    <p>Best,</p>
    <br />
    <p>The Infertalent team</p>
  </body>
</html>
