<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
  <body>
    <p>Hello {{first_name}},</p>
    <br />
    <p>
      We’d like to inform you that your are required to give a demo to owner of
      {{company_name}}. Please contact him at {{user_email}} for further steps
      to organize a demo.
    </p>
    <br />
    <p>
      If you experience any issues or have any other query feel free to reach to
      you upper department.
    </p>
    <br />
    <p>Best,</p>
    <br />
    <p>The Infertalent team</p>
  </body>
</html>
